
.page-header {

	display: grid;
	grid-template-columns: auto auto;
	@include _992 {
		grid-template-columns: 1fr 1fr;
	}

	gap: 20px;

	// .page-header__col

	&__col {
		&:nth-child(even) {
			display: grid;
			> * {
				@include _992 {
					justify-self: end;
				}
			}
		}
	}

	// .page-header__title

	&__title {
	}

	// .page-header__notification

	&__notification {
		justify-self: end;
	}
}
